@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Poppins',sans-serif;

}
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*navbar*/
#navbar{
  position: sticky;
  top: 0;
  border: 2px solid transparent;
  background:white;
  box-shadow: 10px;
}
.logo{
  font-size: 25px;
  color: blue;
}
li{
  padding: 5px;
}
.nav-link{
  font-size: 15px;
  font-weight: bold;
  border: 2px solid transparent;
  color: yellow;
  font-weight: 600;

}
.nav-link:hover{
  border-bottom: 2px solid blue;
  transition: .1s;
}
.nav-item{
    font-weight: 800;
    color: red;
}
span{
  color: blue;
  font-weight: 500;
}
p{
  font-size: 18px;
}
.about{
  font-size: 50px;
}
.card img{
  height: 200px;
}
'inner{
  overflow: hidden;
  }
.card img:hover{
    transform: scale(1.5);
    transition: 1s
  }
  form{
    padding: 40px;
    box-shadow: 2px 2px 5px rgba(255, 0, 0, 0.2);
    border-radius: 30px;
  }
